Repository bnb-chain/greenfield-cosmos-sdk, pull requests merged in 2023-04, with the labels that each got.

#172 feat: add support of eth_secp256k1 and eth_bls algo for v0.47
  .github/workflows/test.yml
  .golangci.yml
  codec/types/compat.go
  contrib/images/simd-dlv/Dockerfile
  contrib/images/simd-env/Dockerfile
  crypto/armor.go
  crypto/armor_test.go
  crypto/codec/amino.go
  crypto/codec/cmt.go
  crypto/codec/proto.go
  crypto/hd/algo.go
  crypto/hd/algo_test.go
  crypto/keyring/keyring_test.go
  crypto/keyring/options.go
  crypto/keys/eth/bls/bls.go
  crypto/keys/eth/bls/keys.pb.go
  crypto/keys/eth/bls/privkey.go
  crypto/keys/eth/bls/privkey_internal_test.go
  crypto/keys/eth/bls/pubkey.go
  crypto/keys/eth/bls/pubkey_internal_test.go
  crypto/keys/eth/ethsecp256k1/benchmark_test.go
  crypto/keys/eth/ethsecp256k1/ethsecp256k1.go
  crypto/keys/eth/ethsecp256k1/ethsecp256k1_test.go
  crypto/keys/eth/ethsecp256k1/keys.pb.go
  crypto/keys/eth/ethsecp256k1/privkey.go
  crypto/keys/eth/ethsecp256k1/privkey_internal_test.go
  crypto/keys/eth/ethsecp256k1/pubkey.go
  crypto/keys/eth/ethsecp256k1/pubkey_internal_test.go
  go.mod
  go.sum
  proto/cosmos/crypto/eth/bls/keys.proto
  proto/cosmos/crypto/eth/ethsecp256k1/keys.proto
  server/config/config_test.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tests/integration/staking/keeper/determinstic_test.go
  testutil/network/network.go
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  types/address_test.go
  x/auth/ante/sigverify.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: Type: CI, C:Store, C:orm, C:x/auth, C:x/distribution, C:x/feegrant, C:x/genutil, C:x/group, C:Simulations, C:x/slashing, C:x/staking, C:CLI, C:x/evidence, C:x/gov, C:x/nft, C:x/upgrade, C:Rosetta, C:x/tx, C:collections

#156 feat: add gas config for UpdateObjectInfo message
  x/gashub/types/params.go
Labels: r4r

#171 feat: update crosschain gov v0.47
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  simapp/app.go
  tests/integration/gov/genesis_test.go
  tests/integration/gov/module_test.go
  testutil/configurator/configurator.go
  x/bank/app_test.go
  x/gov/common_test.go
  x/gov/keeper/common_test.go
  x/gov/keeper/crosschain.go
  x/gov/keeper/deposit_test.go
  x/gov/keeper/hooks_test.go
  x/gov/keeper/keeper.go
  x/gov/keeper/keeper_test.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal_test.go
  x/gov/keeper/vote_test.go
  x/gov/module.go
  x/gov/simulation/operations_test.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/crosschain.go
  x/gov/types/errors.go
  x/gov/types/expected_keepers.go
  x/gov/types/v1/codec.go
  x/gov/types/v1/crosschain.go
  x/gov/types/v1/gov.pb.go
  x/gov/types/v1/msgs.go
  x/gov/types/v1/tx.pb.go
Labels: C:x/bank, C:Simulations, C:x/gov

#175 feat: split commands for withdraw rewards and commission due to eip712
  tests/e2e/distribution/suite.go
  x/distribution/client/cli/suite_test.go
  x/distribution/client/cli/tx.go
  x/distribution/client/testutil/helpers.go
  x/distribution/simulation/operations.go
  x/distribution/types/common_test.go
  x/distribution/types/msg.go
  x/distribution/types/msg_test.go
Labels: C:x/distribution, C:Simulations, C:CLI

#177 feat: add challenger address and rename bls key of validators
  api/cosmos/crypto/eth/bls/keys.pulsar.go
  api/cosmos/crypto/eth/ethsecp256k1/keys.pulsar.go
  api/cosmos/staking/v1beta1/staking.pulsar.go
  api/cosmos/staking/v1beta1/tx.pulsar.go
  proto/cosmos/staking/v1beta1/staking.proto
  proto/cosmos/staking/v1beta1/tx.proto
  simapp/simd/cmd/testnet.go
  tests/integration/genutil/gentx_test.go
  testutil/network/network.go
  x/bank/simulation/operations_test.go
  x/genutil/client/cli/gentx.go
  x/genutil/gentx_test.go
  x/genutil/types/genesis_state_test.go
  x/gov/abci_test.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/slashing/app_test.go
  x/staking/app_test.go
  x/staking/client/cli/flags.go
  x/staking/client/cli/tx.go
  x/staking/keeper/genesis.go
  x/staking/keeper/keeper_test.go
  x/staking/keeper/msg_server.go
  x/staking/keeper/validator.go
  x/staking/simulation/operations.go
  x/staking/testutil/helpers.go
  x/staking/types/errors.go
  x/staking/types/events.go
  x/staking/types/exported.go
  x/staking/types/keys.go
  x/staking/types/msg.go
  x/staking/types/msg_test.go
  x/staking/types/staking.pb.go
  x/staking/types/tx.pb.go
  x/staking/types/validator.go
Labels: r4r, C:x/bank, C:x/genutil, C:Simulations, C:x/slashing, C:x/staking, C:CLI, C:x/gov

#181 feat: add 'bls' key-type to keyring management
  client/keys/output.go
  client/keys/output_test.go
  crypto/keyring/keyring.go
Labels: C:Keys, C:CLI

#183 ci: fix ci flow
  .github/generate_change_log.sh
  .github/workflows/docker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/release-confix.yml
  .github/workflows/release-cosmovisor.yml
  .github/workflows/release-rosetta.yml
  .github/workflows/release.yml
  CHANGELOG.md
Labels: Type: CI

#188 chore: change default key algo
  client/keys/add.go
  simapp/simd/cmd/testnet.go
Labels: C:Keys, C:CLI

#187 fix: fix validator update logic
  go.mod
  go.sum
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/types/keys.go
  x/staking/types/validator.go
Labels: r4r, C:x/staking

#189 release: draft release v0.1.1
  CHANGELOG.md
  go.mod
  go.sum
  x/gashub/types/params.go
  x/staking/keeper/val_state_change.go
  x/staking/keeper/validator.go
  x/staking/types/keys.go
  x/staking/types/validator.go
Labels: C:x/auth, C:x/staking

#193 feat: add support for EVM json-rpc request
  api/tendermint/abci/types.pulsar.go
  api/tendermint/abci/types_grpc.pb.go
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/ethrouter.go
  go.mod
  go.sum
  proto/tendermint/abci/types.proto
  runtime/builder.go
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  tools/rosetta/go.mod
  tools/rosetta/go.sum
  types/errors/abci.go
  x/bank/keeper/eth_query.go
  x/evidence/go.mod
  x/evidence/go.sum
  x/feegrant/go.mod
  x/feegrant/go.sum
  x/nft/go.mod
  x/nft/go.sum
  x/staking/types/staking.pb.go
  x/tx/go.mod
  x/upgrade/go.mod
  x/upgrade/go.sum
Labels: C:x/bank, C:x/feegrant, C:x/staking, C:x/evidence, C:x/nft, C:x/upgrade, C:Rosetta, C:x/tx
