Repository bnb-chain/greenfield-cosmos-sdk, pull requests merged in 2023-11, with the labels that each got.

#357 feat: support Secp256k1 format private keys import
  client/keys/import.go
  crypto/keyring/keyring.go
Labels: C:Keys, C:CLI

#358 feat: enable Pampas hardfork to testnet
  CHANGELOG.md
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  tests/go.mod
  tests/go.sum
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade

#356 release: prepare release for v1.1.0
  .github/workflows/gosec.yml
  CHANGELOG.md
  api/cosmos/oracle/v1/query.pulsar.go
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/ethrouter.go
  baseapp/msg_service_router.go
  client/keys/import.go
  crypto/keyring/keyring.go
  go.mod
  go.sum
  proto/cosmos/oracle/v1/query.proto
  server/migrate_store.go
  server/util.go
  simapp/go.mod
  simapp/go.sum
  snapshots/types/snapshot.pb.go
  store/rootmulti/store.go
  tests/e2e/bank/grpc.go
  tests/e2e/bank/suite.go
  tests/e2e/slashing/grpc.go
  tests/e2e/staking/grpc.go
  tests/go.mod
  tests/go.sum
  testutil/testdata/unknonwnproto.pb.go
  types/query/pagination.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  types/tx_msg.go
  types/upgrade.go
  x/distribution/types/distribution.pb.go
  x/gashub/types/gashub.pb.go
  x/gashub/types/genesis.go
  x/gov/keeper/proposal.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/v1/gov.pb.go
  x/group/types.pb.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/expected_keeper_mocks.go
  x/oracle/types/expected_keepers.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
  x/upgrade/types/upgrade_config.go
Labels: Type: CI, C:Store, C:x/distribution, C:x/group, C:Keys, C:CLI, C:x/gov, C:x/upgrade

#359 feat: introduce the Eddystone upgrade
  types/upgrade.go
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade

#360 feat: enable Pampas hardfork to mainnet
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade

#362 release: prepare release for v1.1.1
  CHANGELOG.md
  types/upgrade.go
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade
