Repository bnb-chain/greenfield-cosmos-sdk, pull requests merged in 2023-08, with the labels that each got.

#258 feat: add flag to enable or disable heavy queries
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  server/config/config.go
  server/config/toml.go
  server/start.go
  server/util.go
  types/context.go
  types/query/pagination.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/grpc_query.go
  x/evidence/keeper/grpc_query.go
Labels: C:x/auth, C:x/staking, C:CLI, C:x/evidence

#256 feat: add Nagqu fork name
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade

#263 feat: add MsgRenewGroupMember gas
  x/gashub/types/genesis.go
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade

#265 release: prepare release for 0.2.4-alpha.1
  CHANGELOG.md
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/start.go
  server/util.go
  types/context.go
  types/query/pagination.go
  x/auth/keeper/deterministic_test.go
  x/auth/keeper/grpc_query.go
  x/evidence/keeper/grpc_query.go
  x/gashub/types/genesis.go
  x/staking/client/cli/tx.go
  x/upgrade/types/upgrade_config.go
Labels: C:x/auth, C:x/staking, C:CLI, C:x/evidence, C:x/upgrade

#266 feat: implement cross-chain mechanism between op and greenfield
  api/cosmos/crosschain/v1/query.pulsar.go
  api/cosmos/gov/v1/tx.pulsar.go
  go.mod
  go.sum
  proto/cosmos/crosschain/v1/query.proto
  proto/cosmos/gov/v1/gov.proto
  proto/cosmos/gov/v1/tx.proto
  x/crosschain/keeper/config.go
  x/crosschain/keeper/grpc_query.go
  x/crosschain/keeper/keeper.go
  x/crosschain/keeper/keeper_test.go
  x/crosschain/types/query.pb.go
  x/gov/keeper/common_test.go
  x/gov/keeper/crosschain.go
  x/gov/keeper/deposit.go
  x/gov/keeper/grpc_query.go
  x/gov/keeper/keeper.go
  x/gov/keeper/msg_server.go
  x/gov/keeper/proposal.go
  x/gov/keeper/tally.go
  x/gov/keeper/vote.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/crosschain.go
  x/gov/types/errors.go
  x/gov/types/expected_keepers.go
  x/gov/types/v1/tx.pb.go
Labels: C:x/gov

#271 fix: allow validator delegator from Genesis to be other addresses
  x/genutil/client/cli/gentx.go
  x/staking/keeper/msg_server.go
Labels: C:x/genutil, C:x/staking, C:CLI

#272 revert: fix: allow validator delegator from Genesis to be other addre…
  x/genutil/client/cli/gentx.go
  x/staking/keeper/msg_server.go
Labels: C:x/genutil, C:x/staking, C:CLI

#269 feat: track store r/w consume for enabling plain store
  api/cosmos/base/abci/v1beta1/abci.pulsar.go
  baseapp/abci.go
  baseapp/baseapp.go
  baseapp/options.go
  go.mod
  go.sum
  proto/cosmos/base/abci/v1beta1/abci.proto
  server/config/config.go
  server/config/toml.go
  server/start.go
  server/util.go
  simapp/app.go
  simapp/go.mod
  simapp/go.sum
  snapshots/types/snapshot.pb.go
  store/gaskv/store.go
  store/gaskv/store_test.go
  store/rootmulti/store.go
  store/types/gas.go
  tests/go.mod
  tests/go.sum
  testutil/testdata/unknonwnproto.pb.go
  types/abci.pb.go
  types/context.go
  types/query/pagination.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/capability/keeper/keeper.go
  x/distribution/types/distribution.pb.go
  x/gashub/types/gashub.pb.go
  x/gov/types/v1/gov.pb.go
  x/group/internal/orm/testsupport.go
  x/group/types.pb.go
Labels: C:Store, C:x/distribution, C:x/group, C:x/gov, C:x/capability

#273 feat: skip sig verification on genesis block
  Makefile
  tests/e2e/genutil/suite.go
  x/auth/ante/ante_test.go
  x/auth/ante/sigverify.go
  x/auth/tx/decoder.go
  x/genutil/client/cli/gentx.go
Labels: C:x/auth, C:x/genutil, C:CLI, Type: Build

#280 fix: disable pre deliver when raw db store is used
  baseapp/abci.go
  store/rootmulti/store.go
Labels: C:Store

#277 feat: restrict token transfers to payment accounts
  simapp/app.go
  tests/integration/bank/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/module.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/expected_keepers.go
Labels: C:x/bank

#288 Revert "feat: restrict token transfers to payment accounts"
  simapp/app.go
  tests/integration/bank/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/module.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/expected_keepers.go
Labels: C:x/bank

#289 chore: modify code comments in `VerifySignature`
  x/auth/signing/verify.go
Labels: C:x/auth

#290 release: prepare release for v0.2.4
  CHANGELOG.md
  baseapp/abci.go
  go.mod
  go.sum
  simapp/go.mod
  simapp/go.sum
  store/rootmulti/store.go
  tests/go.mod
  tests/go.sum
  x/auth/signing/verify.go
  x/oracle/keeper/msg_server.go
Labels: C:Store, C:x/auth

#295 Revert "Revert "feat: restrict token transfers to payment accounts""
  simapp/app.go
  tests/integration/bank/keeper/keeper_test.go
  x/bank/keeper/keeper_test.go
  x/bank/keeper/msg_server.go
  x/bank/module.go
  x/bank/testutil/expected_keepers_mocks.go
  x/bank/types/expected_keepers.go
Labels: C:x/bank
