Repository bnb-chain/greenfield-cosmos-sdk, pull requests merged in 2023-10, with the labels that each got.

#317 feat: add Nagqu fork to mainnet
  x/upgrade/keeper/keeper.go
  x/upgrade/types/upgrade_config.go
Labels: C:x/upgrade

#323 feat: support multi msg for `PrintEIP712MsgType` flag
  CHANGELOG.md
  client/tx/factory.go
Labels: C:CLI

#325 release: prepare release for v1.0.0
  CHANGELOG.md
  client/tx/factory.go
  x/upgrade/keeper/keeper.go
  x/upgrade/types/upgrade_config.go
Labels: C:CLI, C:x/upgrade

#336 feat: introduce the pampas upgrade
  .github/workflows/gosec.yml
  go.mod
  go.sum
  types/upgrade.go
  x/upgrade/types/upgrade_config.go
Labels: Type: CI, C:x/upgrade

#321 feat: add tool to migrate stores for fastnode
  server/migrate_store.go
  server/util.go
  store/rootmulti/store.go
Labels: C:Store

#316 feat: add validation with context information
  baseapp/baseapp.go
  baseapp/msg_service_router.go
  types/tx_msg.go
  x/gov/keeper/proposal.go
Labels: C:x/gov

#353 feat: distinguish inturn relayer
  api/cosmos/oracle/v1/query.pulsar.go
  proto/cosmos/oracle/v1/query.proto
  snapshots/types/snapshot.pb.go
  tests/e2e/bank/grpc.go
  tests/e2e/bank/suite.go
  tests/e2e/slashing/grpc.go
  tests/e2e/staking/grpc.go
  testutil/testdata/unknonwnproto.pb.go
  types/query/pagination.pb.go
  types/tx/signing/signing.pb.go
  types/tx/tx.pb.go
  x/distribution/types/distribution.pb.go
  x/gashub/types/gashub.pb.go
  x/gov/testutil/expected_keepers.go
  x/gov/testutil/expected_keepers_mocks.go
  x/gov/types/v1/gov.pb.go
  x/group/types.pb.go
  x/oracle/keeper/grpc_query.go
  x/oracle/keeper/keeper.go
  x/oracle/keeper/keeper_test.go
  x/oracle/types/expected_keeper_mocks.go
  x/oracle/types/expected_keepers.go
  x/oracle/types/query.pb.go
  x/oracle/types/query.pb.gw.go
Labels: C:x/distribution, C:x/group, C:x/gov
